---
import Icon from './Icon.astro';
---

<section class="box">
<!-- 	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polyvalent</h2>
		<p>Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d'équipe</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div> -->
	<h3>Compétences techniques</h3>
	<div class="skills">
		<img
			alt="icone html"
			width="60"
			height="60"
			src="/assets/Icones/html-5.png"
			title="html"
		/>
		<img
			alt="icone css"
			width="50"
			height="50"
			src="/assets/Icones/css.png"
			title="css"
		/>
		<img
			alt="icone javascript"
			width="50"
			height="50"
			src="/assets/Icones/JavaScript.png"
			title="javascript"
		/>
		<img
			alt="icone react"
			width="50"
			height="50"
			src="/assets/Icones/react.jpeg"
			title="react"
		/>
		<img
			alt="icone php"
			width="50"
			height="50"
			src="/assets/Icones/php.png"
			title="php"
		/>
		<img
			alt="icone symfony"
			width="50"
			height="50"
			src="/assets/Icones/symfony.png"
			title="symfony"
		/>
		<img
			alt="icone nodejs"
			width="50"
			height="50"
			src="/assets/Icones/NodeJS.jpg"
			title="Node.js"
		/>
		<img
			alt="icone mariadb"
			width="50"
			height="50"
			src="/assets/Icones/Mariadb.png"
			title="mariaDB"
		/>
		<img
			alt="icone apiplatform"
			width="50"
			height="50"
			src="/assets/Icones/apiplatform.png"
			title="API Platform"
		/>
		<img
			alt="icone python"
			width="50"
			height="50"
			src="/assets/Icones/Python-logo-notext.svg.png"
			title="python"
		/>
		<img
			alt="icone git"
			width="50"
			height="50"
			src="/assets/Icones/git.png"
			title="git"
		/>
		<img
			alt="icone vscode"
			width="50"
			height="50"
			src="/assets/Icones/vscode.png"
			title="vscode"
		/>
		<img
			alt="icone insomnia"
			width="50"
			height="50"
			src="/assets/Icones/insomnia.png"
			title="insomnia"
		/>
		<img
			alt="icone trello"
			width="50"
			height="50"
			src="/assets/Icones/trello.png"
			title="trello"
		/>
		<img
			alt="icone mardockeriadb"
			width="50"
			height="50"
			src="/assets/Icones/docker.png"
			title="docker"
		/>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		flex-wrap: wrap;
		margin-top: 1.5rem;
		justify-content: center;
	}

	.skills img:hover {
		transform: scale(1.5)
	}

/* 	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	} */

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			gap: 1.5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
